<main class="main">
  <div class="content">
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 me-md-auto text-dark text-decoration-none">
          <img class="bi me-2" src="./../favicon.ico" />
          <span class="fs-4">Gefrierschrank Manager</span>
        </a>
      </header>
      <app-freezeritemlist></app-freezeritemlist>
    </div>
  </div>
</main>
<router-outlet />
