table {
  width: 100%;
}
.buttonRow {
  display: table;
  margin: 10px;  
  .topButton {
    margin-right: 10px;
  }
}



td.mat-column-actions {
  width: 20px;
  padding-right: 8px !important;
}

.mat-mdc-row {
  &:hover {
    background-color: rgb(56, 56, 56);
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


@media screen and (max-width: 960px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-mdc-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }
  
  .mat-mdc-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-mdc-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #3b3b3b;
      border-radius: 3px;
      + .mat-mdc-row {
        margin-top: 24px;
      }
    }

    .mat-mdc-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 20px;
          color: inherit;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
      }
    }

    .mat-column-actions {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      &:before {
        display: none;
      }
      
      .addButton {
        display:inline !important;
      }
    }
  }

  .mat-mdc-paginator {
    margin-top: 24px;
    background-color: inherit;
  }

}