<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">Neuer Eintrag</h5>
		<button type="button" class="btn-close" (click)="close()"></button>
	</div>
  <form #freezerItemForm="ngForm" (ngSubmit)="submitForm(freezerItemForm)">
    <div class="modal-body">
      <div class="form-group">
        <label for="content">content</label>
        <input [(ngModel)]="freezerItem.content" class="form-control" id="content" name="content" required type="text">
      </div>

      <div class="form-group">
        <label for="drawer">drawer</label>
        <select [(ngModel)]="freezerItem.drawer" class="form-control" id="drawer" name="drawer" required>
          <option disabled value="">Lade auswählen</option>
          <option value="TOP">Oben</option>
          <option value="MIDDLE">Mitte</option>
          <option value="BOTTOM">Unten</option>
        </select>
      </div>

      <div class="form-group">
        <label for="freezedate">freezedate</label>
        <input [(ngModel)]="freezerItem.freezedate" class="form-control" id="freezedate" name="freezedate" required
               type="date">
      </div>

      <div class="form-group">
        <label for="image">image</label>
        <input (change)="selectFile($event)" [(ngModel)]="freezerItem.image" accept="image/*" capture class="form-control" id="image"
               name="image" type="file"/>
      </div>

      <div class="form-group">
        <img [src]="preview" class="rounded" style="width: 100%; margin-top: 10px;">
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="close()" class="btn btn-secondary" type="button">abbrechen</button>
      <button class="btn btn-primary" type="submit">speichern</button>
    </div>
  </form>
</div>
