<div class="container">
  <h3 mat-dialog-title>Eintrag hinzufügen</h3>

  <form #freezerItemForm (ngSubmit)="onSubmit(freezerItemForm)" class="mat-dialog-content">


    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field>
        <input #inputstate (ngModel)="freezerItem.content" class="form-control" matInput name="content"
               placeholder="Content" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input (ngModel)="freezerItem.freezedate" matInput name="freezedate" placeholder="Freezedate">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input (ngModel)="freezerItem.drawerId" matInput name="drawerId" placeholder="drawerId">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close="1" type="submit">Save</button>
      <button (click)="onNoClick()" mat-button tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
