
spring:
  datasource:
    url: jdbc:h2:file:./data/app_db;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    properties:
      hibernate:
        format_sql: 'true'
    hibernate:
      ddl-auto: update
    show-sql: 'true'
  h2:
    console:
      enabled: true # to enable h2 console

