<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName}"></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gefrierschrank Manager</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><a class="btn btn-success addItemModalButton" data-toggle="modal" data-target="#editItemModal"><i class="bi bi-plus"></i></a></a>
            </li>
        </ul>
    </nav>
    <table id="itemTable" class="table">
        <thead>
        <tr>
            <th scope="col">Beschreibung</th>
            <th scope="col">Eingefroren</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody/>
    </table>
    <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="editModalForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Item bearbeiten</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="editItemId" type="hidden" class="form-control" >
                        <div class="form-group">
                            <label>Beschreibung</label>
                            <input id="editItemContent" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Lade</label>
                            <select id="editItemDrawer" class="form-control" required>
                                <option value="TOP">Oben</option>
                                <option value="MIDDLE">Mitte</option>
                                <option value="BOTTOM">Unten</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Eingefroren am</label>
                            <input id="editItemDate" type="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Bild</label>
                            <input id="editItemImageInput" type="file" class="form-control" accept="image/*" capture>
                            <img id="editItemImageDisplay" style="max-width: 100%;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <input type="submit" class="btn btn-primary" value="Speichern"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="js/uiservice.home.js"></script>
</html>