<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title">Eintrag löschen</h5>
		<button type="button" class="btn-close" (click)="close()"></button>
	</div>
	<div class="modal-body">
		Willst du wirklich "{{ freezerItem.content }}" in "{{ drawer.physicalOrder }}. Lade" löschen?
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="deleteFreezerItem()">löschen</button>
		<button type="button" class="btn btn-secondary" (click)="close()">abbrechen</button>
	</div>
</div>
