<div class="modal-content">
	<div class="modal-header">
    <h5 class="modal-title">{{ freezerItem.content }}</h5>
		<button type="button" class="btn-close" (click)="close()"></button>
	</div>
    <form #freezerItemForm="ngForm" (ngSubmit)="submitForm(freezerItemForm)">
	    <div class="modal-body">
            <input type="hidden" class="form-control" id="id" name="id" [(ngModel)]="freezerItem.id" required>
            <div class="form-group">
              <label for="content">content</label>
              <input type="text" class="form-control" id="content" name="content" [(ngModel)]="freezerItem.content" required>
            </div>

            <div class="form-group">
              <label for="drawer">drawer</label>
              <select class="form-control" id="drawer" name="drawer" [(ngModel)]="freezerItem.drawer" required>
                    <option value="" disabled>Lade auswählen</option>
                    <option value="TOP">Oben</option>
                    <option value="MIDDLE">Mitte</option>
                    <option value="BOTTOM">Unten</option>
                </select>
            </div>

            <div class="form-group">
              <label for="freezedate">freezedate</label>
              <input type="date" class="form-control" id="freezedate" name="freezedate" [(ngModel)]="freezerItem.freezedate" required>
            </div>

        <div class="form-group">
          <label for="image">image</label>
          <input (change)="selectFile($event)" [(ngModel)]="freezerItem.image" accept="image/*" capture class="form-control"
                 id="image" name="image" type="file"/>
        </div>

        <div class="form-group">
          <img [src]="preview" class="rounded" style="width: 100%; margin-top: 10px;">
        </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close()">abbrechen</button>
            <button type="submit" class="btn btn-primary">updaten</button>
        </div>
    </form>
</div>
